<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【BIM工程师 （工作地点郑州区域）招聘】_嘉实集团招聘-BOSS直聘</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <div class="container" id="app">
        <div class="top-bar flex padde">
            <img src="./images/logo.png" alt="">
            <form action="" calss="flex" >
                <input type="text"  placeholder="搜索职位">
                <button  class="search-icon"></button>
            </form>

        </div>
        <div class="job-info  padde">
            <div class="title flex">
                <span>{{job.title}}</span>
                <span class="salacy" >{{job.salary}}</span>

            </div>
            <div class="props flex">
                <div class="items flex">
                    <!-- 添加template虚拟标签,循环里面添加index字段 -->
                <template v-for="(tag,index) in job.tags">
                    <!-- 添加if循环，大于0就加上i标签 -->
                    <i v-if="index >0"></i>
                    {{tag}}
                </template>



                   
                </div>
                <div>
                    发布于{{job.date}}
                </div>
            </div>
            <div class="tags">
                <span v-for="label in job.labels">{{label}}</span>


            </div>
        </div>

        <!-- 加上v-if，表示告诉浏览器我们已经有这个数据 -->

        <div class="user-info flex padde " v-if="job.user">
            <img :src="job.user.avater" alt="">
            <div class="info">
             <div class="name flex ">
               <span>{{job.user.name}}</span> 
               <span class='like'>
                <img src="./images/link-like.png" alt="">   
                感兴趣</span>
             </div>
               <div class="desc">{{job.user.title}}</div> 

            
               
            </div>
            <button class="btn">立即沟通</button>
            

        </div>
        <div class="job-detail padde" v-if="job.company">
            <h3>职位描述</h3>
            <!-- 防止文档里面出现html的标签 -->
            <div class="text" v-html="job.body">
               
            </div>
            <h3>团队介绍</h3>
            <div class="tags">
                <span v-for="item in job.team">{{item}}</span>
                
            </div>
            <h3>公司介绍</h3>
           <div class="text">
              {{job.company.body}}
             </div>
           <h3>工商信息</h3>
           <div class="text">
            <p>{{job.company.full_name}}</p>
            
            <table>
                <tr>
                    <th>法人代表：</th> 
                    <td>{{job.company.props.法人代表}}</td> 
                    <th>注册资本：</th>  
                    <td>{{job.company.props.注册资本}}</td>
                </tr>
                <tr>
                    <th>法人代表：</th>   <td>{{job.company.props.法人代表}}</td>   <th>注册资本：</th>   <td>{{job.company.props.注册资本}}</td>
                </tr>
            </table>
            <p class="gray"><small>数据来源：天眼查</small></p>
           </div>
            <h3>工作地址</h3>
            <div class="map">

            </div>
        </div>
        <div class="company-info  flex  padde" v-if="job.company" >
            <img :src="job.company.logo" alt="">
            <div class="info">
               <div class="name flex ">
                  <span>{{job.company.name}}</span>
                  <button class="btn" type="button">关注该公司</button>
               </div>  
               <div class="desc">{{job.company.full_name}} </div>
                
               <div class="tags flex">
                   <template v-for="(tag,index) in job.company.tags">
                       <i v-if="index>0"></i>
                       <span >{{tag}}</span> 

                   </template>
                    
                </div>  
               
            </div>
            


        </div>
        <div class="related-jobs padde">
            <h3>相似职位</h3>
            <ul class="job-list">
                <li v-for="item in job.jobs">
                    <a href="" class="job-item flex">
                        <img :src="item.logo" alt="">
                        <div class="text">
                            <div class="title flex">
                                {{item.title}}
                              <span class="salary">{{item.salary}}</span>
                            </div>
                            <div class="flex">
                                <div class="company">
                                    {{item.company}}
                                </div>
                                <button type="button" class="btn">立即沟通</button>
                                <!-- 不需要提交表单按钮就写type -->
                            </div>
                            
                        </div>
        
                    </a>
                </li>
             
            </ul>

        </div>
        <div class="related-companies  padde">
            <h3>推荐公司：</h3>
            <div class="tags">
                <a href=""  v-for="item in job.companies">{{item.name}}</a>
                

            </div>
           
        </div>
        <div class="job-footer breadcrumb-nav  ">
            <template v-for="(item,index) in job.path">
                <a href="">{{item.title}}</a> <i i-if="index 
                < job.path.lenght -1"></i>

            </template>
            
            
        </div>
        

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
<script>
    const vm = new Vue({
        el:'#app',
        data:{
            job:{}
        },
        created:function(){
            const that = this
            fetch('http://127.0.0.1:5500/api/job.json').then(function(res){
                return res.json()
            }).then(function(data){
                that.job=data

            })
        }


    })
</script>


</body>
</html>