<!DOCTYPE html><!--输入感叹号！就会有提示-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOSS直聘-找工作我要跟老板谈！招聘求职找工作！</title><!--浏览器网页上面显示的标题-->
    <link rel="stylesheet" href="style/main.css"><!--连接样式表-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png">
</head>
<body>
    <div class="container" id="app">
        <div class="home-header">
            <img src="./images/home-search-text.png" alt="">
            <form action="">
                <input type="text" placeholder="搜索职位/公司">
                <button>搜索</button>
            </form>
        </div>
<!-- 在dl进行vue的for循环，img引用vue是在：，div里面引用是两个{{}} ,-->
       <div class="home-categories">
           <dl v-for="item in categories">
               <dt>
                   <img :src="item.icon" alt="">
                   <div>{{item.name}}</div>

               </dt>
               <!-- 在a标签里面也进行循环 -->
               <dd>
                   <a href="" class="tag" v-for="tag in item.tags">{{tag}}</a>
                  
               </dd>    
           </dl>    
           
       </div>
       <div class="home-footer">
            
            <p>违法和不良信息举报邮箱：jubao@kanzhun.com</p>
            <p>企业服务热线和举报投诉：400 065 5799</p>
           
       </div>



    </div>
    <!-- 找到cdnjs的网站输入vue后点击右侧的copy script page，放到body的前面，进行vue的引用 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <!-- 引用fetch -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js.map" integrity="undefined" crossorigin="anonymous"></script>
    

    <!-- 把el里面的app和<div class="container" id="app">这个里面的挂钩，原先的数据都移到data里面 -->
   <script>
        const vm = new Vue({
            el:'#app',
            data:{
                categories:[]
                      },
                  
             created:function(){
                const that= this  


                 fetch('http://127.0.0.1:5500/api/index.json').then(function(res){
                     return res.json()
                 }).then(function(data){
                    //vm.categories = data
                    that.categories=data
                 })

             }        



        })
    </script>
</body>
</html>