body{
    margin: 0;
    font-family: Arial, Helvetica,'Microsoft Yahei', sans-serif;  /*设定字体*/
    color: #7e8793;
    -webkit-font-smoothing:antialiased;
   

}
/* ctrl +end,光标移到最底部，ctrl+/,可以直接写注释 */
/* 加*表示给组件家里padding后不要撑大组件，而是让它向内部挤压 */
*{
    box-sizing: border-box;
}
/* 定义全局的颜色 */
.gray{
    color: #9fa3b0;
}
/* 设定全局flex */
.flex{
    display: flex;
    justify-content: space-between;/*调整内容：间距,分散对齐*/

    align-items: center;
}
.padde{
    padding: 1rem;
}
.btn{
    border: none;
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;


}
/* home page */
.home-header{
    background: url('../images/home-bg.png')no-repeat;/*不要重复添加图片*/
    background-size: 100% auto;
    text-align: center;/*内容居中*/
    padding-bottom: 1.5rem;
    
}
.home-header > img{/*带>表示是下级目录*/
    width: 67%;
    margin: 2.3rem;
}

.home-header form{
    background-color: white;
   
    width: 92%;
    margin: 0 auto;
    line-height: 2.5rem;/*线条高度*/
    border-radius: 2.2rem;/*边框圆角*/

}


.home-header form input{
    width: 75%;
    color:#aaa;
    font-size: 0.85rem;
    
    outline: none;/*把输入文字后的亮框去掉*/
    border: none;/*去除输入框的边框*/
   
}


.home-header form button{
    font-size: 0.9rem;
    color:#5bd4c7 ;
    font-weight: lighter;/*字体变细*/
    border: none;
    background: none;
}
.home-categories{
    padding: 0 1rem;/*设置边距*/

}
.home-categories dt {
    display: flex;/*Flex是Flexible Box的缩写，意为"弹性布局"*/
    align-items: center;/*对齐项目*/
    color: #333;
}

.home-categories dt img{
    height: 3rem;
    margin-right: 0.3rem;

}
.home-categories dd {
   
    margin:0 -0.4rem;/*这里的-0.4正好和下面的4对消掉*/
}
.home-categories dd .tag{
    background: #f5f8f9;
    color: #7e8793;
    padding: 0.5rem 1rem;
    display: inline-block;/*块状串联排列显示*/
    border-radius: 2rem;
    text-decoration: none;/*文本修饰属性,去除下划线*/
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;

}
.home-footer {
    width: 70%;
    margin: 0 auto;
    font-size: 0.75rem;
}
.home-footer p{
    margin: 0.2rem ;}


/*list page*/

.list-header{
    padding: 0.8rem 1rem;
 

}
.list-header img{
    height: 1.2rem;
    
}
.list-header form{
    width: 100%;
    
}


.list-header form .inner{
    width: 100%;
    background: #f5f8f9;
    margin: 0 1rem;
    line-height: 1.7rem;
    border-radius: 2rem;
    padding: 0 1rem;
   
}

    


.list-header form .inner input{
    width: 80%;
    background: transparent;/*透明背景*/
    border: none;
    outline: none;
    color: #999 ;
    border: 0;
    background: 0;
    
}

.list-header form button{
    border: none;
    background: none;
    font-size: 0.9rem;
    color: #5dd5ca;
    flex-shrink:0;
    padding: 0;
 
}
.filter{

    padding:0.5rem 1rem;
    border: 1px solid #ebebeb;

}
.filter dl, .filter dd{
    margin: 0;

}

.filter dt{
    font-size: 0.8rem;
}
.filter .active dt{
    color: #333;
}
.filter dt:after{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 1px solid #999;
    border-style: solid none none solid;
    transform: rotate(225deg);
    transform-origin: 2px 1px;
    margin-left: 0.5rem;
    transition: all 0.3s;
}
.filter .active dt:after{
    transform: rotate(45deg);
}
.filter dd{
    display: none;
}
.filter .active dd{
    display: block;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 90px;
    left: 0;
}
.filter .active dd ul{
    margin: 0;
    padding: 0;
    background: #fff;


}
.filter .active dd li{
    line-height: 3.5rem;
    text-indent: 1rem;
    color: #aaa;
}
.filter .active dd li.active{
    background: #f5f8f9;
    color: #333;
}

/* ### */
.job-list{
    margin: 0;
    padding: 0;

}
.job-item{
    padding: 1rem;
    color: #7e8793;
    text-decoration: none;/*去除下划线*/
    border-bottom:1px solid #e5e9f3;
}
.job-item > img{
    height: 3.5rem;
    border-radius: 0.3rem;

}
.job-item .text{
    width: 100%;
    margin-left: 1rem;
}
.job-item .title{
    color: #333;
    font-size: 0.9rem;
}
.job-item .salary{
    font-size: 1.2rem;
    color:#fc6c38 ;
}
.job-item .company{
    color: #333;
    font-size :0.8rem;
    padding: 0.2rem 0;

}
.job-item .props{
    font-size: 0.8rem;
}
.job-item .props span{
    margin-right: 0.5rem;

}

/* detail.page */
.top-bar img{
    height: 1rem;
}
.top-bar form{
    width: 40%;
    border: 1px solid #5bd4c7;
    border-radius: 2rem;
    padding: 0  0.5rem;



}
.top-bar form input{
    border: none;
    background: none;
    line-height: 1.5rem;
    width: 80%;
    color: #c0c4cf;
    font-size: 0.9rem;
    outline: none;
}
.top-bar form button{
    border: none;
    background: url('../images/icons.png') no-repeat top center;
    background-size: 100% auto;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}
.job-info{
    background: #62d5c8;
    color: #fff;
}
.job-info .title{
    font-size: 1.2rem;
}
.job-info .props{
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.job-info .props .items i {
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background:#fff;
    margin: 0 0.5rem;

}
.job-info .tags span{
    border:1px solid #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    font-size: 0.75rem;

}
.user-info {
    background: #eefbf9;
}
.user-info >img{
    height: 3.5rem;
    border-radius: 3.5rem;
}

.user-info button{
    background: #62d5c8;
    color: #fff;
   flex-shrink: 0;
   /* 防止按钮被挤扁 */

}
.user-info .name{
    color: #333;

   
}
.user-info .name .like{
    font-size: 0.8rem;
    color: #fb7042;
}
.user-info  .desc{
    font-size: 0.8rem;
    color:#aaa;
    margin-top: 0.5rems;

}
.user-info .info{
    width: 100%;
    margin: 0 1rem;

}
.job-detail h3{
    color: #333;
    font-size: 0.9rem;
    position: relative;

}
.job-detail h3:after{
    content:'' ;
    width: 1rem;
    height: 1px;
    display: inline-block;
    background: #62d5c8;
    position: absolute;
    top: 1.8rem;

    left: 0;
}
.job-detail .text{
    font-size: 0.95rem;
    line-height: 1.6rem;

}
.job-detail .tags{
   padding-top: 0.7rem;

}
.job-detail .tags span{
    font-size: 0.8rem;
    color: #62d5c8;
    border: 1px solid #62d5c8;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;

}
.job-detail .text table{
    border: 1px solid #ebecef;
    padding: 0.7rem 0.3rem;
    font-size: 0.75rem;

}
.job-detail .text th{
    font-weight: normal;
    width: 6rem;
    color: #9fa3b0;
}
.job-detail .text td{
   width: 8rem;
}
.company-info {
    background: #eefbf9;
}
.company-info img{
    height: 3.5rem;
    border-radius: 3.5rem;
}
.company-info .info {
    width: 100%;
    margin-left: 1rem;
    
}
.company-info .info .name{
    color: #333;
}
.company-info .info .name .btn{
    background: #62d5c8;
    color: #fff;

}
.company-info .info .desc{
font-size: 0.8rem;
color: #333;
}
.company-info .info .tags{
    margin-top: 0.5rem;
    font-size: 0.7rem;
    justify-content: flex-start;
    /* 向左对齐 */
}
.company-info .info .tags i{
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background:#e0e0e0;
    margin: 0 0.5rem;  
}
.related-jobs h3{
    color: #7e8793;
    font-weight: normal;
    font-size: 0.9rem;

}
.related-jobs ul{
    list-style: none;
}
.related-jobs ul li> a {
    border: none;
    border-top: 1px solid #ebecef;
    margin: 0;
    padding: 1rem 0;
    
}.related-jobs .btn{
    border: 1px solid #62d5c8;
    color: #62d5c8;
    background: none;
    padding: 0.4rem 1.2rem;
    margin-top: 0.2rem;

}
.related-companies h3{
    color: #7e8793;
    font-weight: normal;
    font-size: 0.9rem;
    

}
.related-companies .tags a{
    color: #7e8793;
    line-height: 1.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 0.8rem 0.2rem 0;

}
.job-footer{
    line-height: 1.5rem;
    margin: 1rem;
    padding: 1rem 0;
    border-top: 1px solid#ebecef;
}
.breadcrumb-nav a{
    color: #7e8793;
    text-decoration: none;
    font-size: 0.75rem;
    

}
.breadcrumb-nav i{
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid#9fa3b0;
    border-style: solid none none solid;
    transform: rotate(135deg);

}